<div class='container' id='innerContent'>
	<div class="row">
    <div class="span8 offset2 contentBox">
    	<div class='innerPadding' style='margin-top: 20px; margin-bottom: 20px;'>
				<img src='<%- meta.image %>' style='float: left; width: 50px; height: 50px; margin-right: 15px;' class="img-circle" />
				<h3 style='line-height: 50px; font-size: 30px;'><%- meta.name %></h3>
				<hr />
				<%- meta.description.long %>
				<table style='margin-top: 15px;'>
					<% _.each(meta.profile, function(item) { %>
		    		<tr>
							<td style='width: 110px;' valign='top'>
								<b><%- item.key %></b>
							</td>
							<td>
								<%= item.value %>
							</td>
						</tr>
		    	<% }); %>
				</table>
			</div>
    </div>
  </div>
	<div class="row">
    <div class="span8 offset2 contentBox">
    	<ul class="nav nav-stacked postList">
				<li style='font-size: 20px; padding-top: 10px; padding-bottom: 10px;' class='innerPadding'>
					<b>Written Thoughts</b>
	    	<li>
	    	<% _.each(posts, function(post) { %>
	    		<li>
	    			<a class='interceptLink' href='/<%= post.permalink %>'>
	    				<div class='innerPadding'>
	    					<%= post.title %><div class='date'><%= post.date %></div>
	    				</div>
	    			</a>
	    		</li>
	    	<% }); %>
	    		<li>
	    			<a id='olderPosts' href='#'>
	    				<div class='innerPadding' style='margin-top: 7px; margin-bottom: 7px; color: #777'>
	    					Show Older Posts
	    				</div>
	    			</a>
	    		</li>
	    		<li style='border-top: 1px solid rgba(0,0,0,0.1);' class='hidden-desktop'>
	    		</li>
			</ul>
    </div>
  </div>
</div>
