<div class='container' id='innerContent'>
	<div class="row">
    <div class="span8 offset2 contentBox">
    	<div class='innerPadding' style='margin-top: 20px; margin-bottom: 20px;'>
				<img src='/static/base/me.jpg' style='float: left; width: 50px; height: 50px; margin-right: 15px;' class="img-circle" />
				<h3 style='line-height: 50px; font-size: 30px;'>Nathan Peck</h3>
				<hr />
				Hacker & Explorer in search of memorable moments.
				<table style='margin-top: 15px;'>
					<tr>
						<td style='width: 110px;'>
							<b>Location:</b>
						</td>
						<td>
							Austin, TX
						</td>
					</tr>
					<tr>
						<td valign='top'>
							<b>Employment:</b>
						</td>
						<td>
							<a href='http://storydesk.com'>StoryDesk</a> - Senior Lead Backend Engineer
						</td>
					</tr>
					<tr>
						<td valign='top'>
							<b>Twitter:</b>
						</td>
						<td>
							<a href='http://twitter.com/nathankpeck'>@nathankpeck</a>
						</td>
					</tr>
					<tr>
						<td style='padding-top: 10px;' id='emailButton'>
							<button class='btn' style='margin: 0px;' onclick='$("#emailAddress").show(); $("#emailButton").hide()'>Contact</button>
						</td>
					</tr>
				</table>
				<div id='emailAddress' style='padding-top: 10px; overflow: auto; display: none;'>
					<code>var email = atob("bmF0aGFuQHN0b3J5ZGVzay5jb20=");</code>
				</div>
			</div>
    </div>
  </div>
	<div class="row">
    <div class="span8 offset2 contentBox">
    	<ul class="nav nav-stacked postList">
				<li style='font-size: 20px; padding-top: 10px; padding-bottom: 10px;' class='innerPadding'>
					<b>Written Thoughts</b>
	    	<li>
	    	<% _.each(posts, function(post) { %>
	    		<li>
	    			<a class='interceptLink' href='/<%= post.permalink %>'>
	    				<div class='innerPadding'>
	    					<%= post.title %><div class='date'><%= post.date %></div>
	    				</div>
	    			</a>
	    		</li>
	    	<% }); %>
	    		<li>
	    			<a href='#'>
	    				<div class='innerPadding' style='margin-top: 7px; margin-bottom: 7px; color: #777'>
	    					Show More Posts
	    				</div>
	    			</a>
	    		</li>
	    		<li style='border-top: 1px solid rgba(0,0,0,0.1);' class='hidden-desktop'>
	    		</li>
			</ul>
    </div>
  </div>
</div>
