<div class='container' id='innerContent' style='margin: 0 auto;'>
	<div class="row">
		<div class='span3' style='background-color: white;'>
    	<div style='margin: 30px 20px 20px 20px;'>
    		<div style='text-align: center;'>
					<a class='interceptLink' href='/'><img src='/static/base/me.jpg' style='width: 100px;' class="img-circle" /></a>
					<br />
					<h3 class='hidden-tablet'>Nathan Peck</h3>
					<b class='visible-tablet'><br />Nathan Peck</b>
					Hacker & Explorer
					<hr />

				<br />
    		</div>
			</div>
		</div>
    <div class="span9">
    	<div style='border-left: 1px solid #EEE;'>
	    	<div class='innerPadding' style='padding-top: 40px;' id='blogPost'>
	    		<div class='title'><a href='/<%- permalink %>'><%- title %></a></div>
	    		<div class='date'><%- date %></div>
	    		<div id='postBody'>
	    		</div>
	      </div>
    	</div>
    </div>
   </div>
  </div>
</div>
